<footer class="footer">

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-md-4 col-xs-8">
                <h4>  <a href='#'>工作機會</a></h4>

                </div>
                <div class="col-md-4 col-xs-8">
                  <h4> <a href='#'>企業資源</a></h4>

                </div>
                <div class="col-md-4 col-xs-8">
                <h4> <a href='#'>關於我們</a></h4>

                </div>
                <div class="col-md-10 col-xs-4 footer-content">


                </div>
              </div>
                <hr />
                <p>Designed By <a href="https://github.com/ian293382" target="_blank">ian293382</a> | Copyright ©2019 金坷拉
            </div>
        </div>

</footer>
